@import url(https://fonts.googleapis.com/css?family=Chewy&display=swap);

@import "./icons.css";

@tailwind utilities;

:root {
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 22px;
  --font-size-xl: 24px;
  --font-size-xxl: 46px;

  --black: #010501;
  --grey: #808080;
  --orange: #ff5700;
  --purple: #a62a6c;
  --white: #fff;
  --yellow: #ffd500;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a {
  color: var(--white);
}

body {
  color: var(--white);
  font-family: Chewy, cursive;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  display: inline-block;
}

h2 {
  &.compact {
    margin: 0;
  }
}

p {
  &.small {
    font-size: var(--font-size-xs);
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: hidden;
}

button:focus {
  outline: 0;
}
