.share-container {
  border: 4px solid var(--black);
  border-radius: 15px;
  padding: 25px;
  top: -150%;
  transition: top 0 0.2s ease-in-out, opacity 0.2s 0 ease-in-out;
  width: 100%;

  .inner {
    margin: 20px 0;
    width: 100%;

    .copy-container {
      align-items: center;
      border: 4px solid var(--black);
      border-radius: 4px;
      display: flex;
      height: 45px;
      justify-content: space-between;
      margin: 12px 0 -5px;

      .url-icon {
        font-size: var(--font-size-m);
        text-align: center;
        width: 50px;
      }

      .copy-text {
        border: none;
        font-family: Chewy, cursive;
        font-size: 15px;
        height: 100%;
        outline: none;
        padding: 0 12px;
        width: 100%;
      }

      .copy-button {
        background: var(--yellow);
        border: 2px solid transparent;
        color: var(--black);
        font-family: Chewy, cursive;
        font-size: var(--font-size-s);
        height: 100%;
        letter-spacing: 2.45px;
        text-transform: uppercase;
        transition: background 0.2s;
      }
    }
  }
}
