.container {
  .score {
    font-size: var(--font-size-m);
    margin-bottom: 10px;
  }

  .scorePercentage {
    font-size: var(--font-size-xxl);
    margin: 0 0 28px;
  }

  .questionContainer {
    margin-bottom: 20px;

    .label {
      color: var(--yellow);
    }
  }
}
