@import url(https://fonts.googleapis.com/css?family=Chewy&display=swap);

/* CSSTidy 1.3: Thu, 14 Sep 2023 09:56:50 -0700 */
*,
:after,
:before {
  box-sizing: border-box;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  max-width: 100%;
  width: 600px;
}

.button-outer {
  flex-basis: 100%;
  margin-bottom: 20px;
  max-width: 100%;
  text-align: center;
}

.close-button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: Chewy, cursive;
  font-size: 34px;
  outline: none;
  position: absolute;
  right: 0;
  text-transform: none;
  top: 50px;
  transition: color 0.2s;
}

.close-button:hover {
  color: #eee;
}

.main-container {
  background: #a62a6c;
}

.content .field {
  border: 4px solid #010501;
  border-radius: 4px;
  height: 45px;
  margin: 12px 0 -5px;
}

.content .icons a {
  background: #fff;
  border: 2px solid transparent;
  font-size: 20px;
  height: 50px;
  padding-left: 2.5px;
  text-decoration: none;
  width: 50px;
}

.content p {
  font-size: 16px;
}

.default-button,
.purchase-button {
  background: #ffd500;
  border: 4px solid #010501;
  border-radius: 3em;
  color: #010501;
  cursor: pointer;
  font-family: Chewy, cursive;
  font-size: 18px;
  letter-spacing: 2.45px;
  max-width: 100%;
  outline: none;
  overflow: hidden;
  padding: 10px 8px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: background 0.2s;
  white-space: nowrap;
  width: 100%;
}

.purchase-button {
  font-size: 16px;
  margin-top: 12px;
}

.purchase-button[disabled] {
  border-color: #808080;
  color: #808080;
  cursor: default;
}

.default-button.correct {
  background: #acbd00;
  border-color: #010501;
  color: #010501;
  cursor: default;
}

.default-button.correct::before,
.default-button.wrong::before {
  background-size: contain;
  content: "";
  display: inline-block;
  height: 18px;
  margin-right: 5px;
  margin-top: -2px;
  vertical-align: middle;
  width: 18px;
}

.default-button.correct:hover {
  background: #acbd00;
  border-color: #010501;
  color: #010501;
}

.default-button.wrong {
  background: #f6484c;
  border-color: #010501;
  color: #010501;
  cursor: default;
}

.default-button.wrong:hover {
  background: #f6484c;
  border-color: #010501;
  color: #010501;
}

.default-button:hover {
  background: #f80;
}

.default-button[disabled] {
  background: transparent;
  border-color: #5057d4;
  color: #5057d4;
  cursor: default;
}

.default-button[disabled]:hover {
  background: transparent;
}

.details {
  margin-bottom: 20px;
}

.field button {
  background: #ffd500;
  border: 2px solid transparent;
  color: #010501;
  font-family: Chewy, cursive;
  font-size: 16px;
  height: 100%;
  letter-spacing: 2.45px;
  text-transform: uppercase;
  transition: background 0.2s;
}

.field i {
  font-size: 18px;
  text-align: center;
  width: 50px;
}

.field input {
  border: none;
  font-family: Chewy, cursive;
  font-size: 15px;
  height: 100%;
  outline: none;
  padding: 0 12px;
  width: 100%;
}

.hidden {
  display: none;
}

.how-to-play-screen .default-button {
  margin-bottom: 60px;
  margin-top: 30px;
}

.icons a {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.icons a i {
  transition: transform 0.3s ease-in-out;
}

.icons a:hover {
  border-color: transparent;
  color: #fff;
}

.icons a:hover i {
  transform: scale(1.2);
}

.icons a:nth-child(1) {
  border-color: #b7d4fb;
  color: #1877f2;
}

.icons a:nth-child(1):hover {
  background: #1877f2;
}

.icons a:nth-child(2) {
  border-color: #b6e7fc;
  color: #46c1f6;
}

.icons a:nth-child(2):hover {
  background: #46c1f6;
}

.icons a:nth-child(3) {
  border-color: #f5bccf;
  color: #e1306c;
}

.icons a:nth-child(3):hover {
  background: #e1306c;
}

.icons a:nth-child(4) {
  border-color: #bef4d2;
  color: #25d366;
}

.icons a:nth-child(4):hover {
  background: #25d366;
}

.icons a:nth-child(5) {
  border-color: #b3e6ff;
  color: #08c;
}

.icons a:nth-child(5):hover {
  background: #08c;
}

.label {
  color: #ffd500;
}

.quiz-corner-logo {
  left: 0;
  position: absolute;
  top: 15px;
  width: 100px;
}

.quiz-image {
  display: unset;
  max-width: 75%;
  position: relative;
  width: 300px;
  z-index: 1;
}

.quiz-image-wrapper {
  margin: 30px auto;
  max-width: 100%;
  position: relative;
}

.quiz-image-wrapper:before {
  background-size: contain;
  content: "";
  display: block;
  height: 100%;
  left: -65px;
  position: absolute;
  right: -65px;
}

.quiz-logo {
  bottom: 20px;
  position: absolute;
}

.quiz-question {
  font-size: 24px;
  margin-bottom: 50px;
}

.quiz-screen-step {
  color: #fff;
}

.quiz-timer {
  background: #000501;
  border-radius: 3em;
  height: 20px;
  margin-bottom: 50px;
  max-width: 100%;
  padding: 5px 6px;
  width: 550px;
}

.quiz-timer span {
  animation: progressbar-countdown;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  animation-timing-function: linear;
  background: linear-gradient(90deg, #ffd500, #ff5700);
  border-radius: 3em;
  display: inline-block;
  height: 10px;
  vertical-align: top;
}

.score {
  font-size: 18px;
  margin-bottom: 10px;
}

.score-name {
  font-size: 46px;
  margin: 0 0 28px;
}

.screen-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px 20px 70px;
  position: relative;
  text-align: center;
}

.share-container {
  border: 4px solid #010501;
  border-radius: 15px;
  max-width: 380px;
  padding: 25px;
  top: -150%;
  transition: top 0 0.2s ease-in-out, opacity 0.2s 0 ease-in-out;
  width: 100%;
}

.share-container .content {
  margin: 20px 0;
  width: 100%;
}

.share-container .icons {
  margin: 15px 0 20px;
  padding: 0;
}

.share-container :is(.icons, .field) {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 32px;
  margin-top: 100px;
}

.wrapper {
  margin: auto;
  max-width: 800px;
}

a {
  color: #fff;
}

body {
  color: #fff;
  font-family: Chewy, cursive;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

html,
body {
  overflow-x: hidden;
}

@media screen and (min-width: 700px) {
  .screen-section {
    padding: 50px;
  }
}

@keyframes progressbar-countdown {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
